{% extends "base.html" %}

{% block title %}Minha conta{% endblock %}

{% block container %}
<br>
<ol class="breadcrumb">
    <li><a href="#">Início</a></li>
    <li class="active">Minha conta</li>
</ol>
<div class="row">
    <div class="col-md-4">
        <div class="list-group">
            <a href="#" class="list-group-item active">Minha conta</a>
            <a href="{% url 'accounts:update_user' %}" class="list-group-item">Alterar dados</a>
            <a href="{% url 'accounts:update_password' %}" class="list-group-item">Alterar senha</a>
        </div>
    </div>
    <div class="col-md-8">
        {% block accounts_container%}
            <h2>Bem vindo {{ user }}</h2>
        {% endblock %}
    </div>
</div>
{% endblock %}

